<%- include('partials/header') %>

<div class="text-center menuTop">
  <i class="fas fa-money-bill-wave"></i>
  <h1 class=""><%= userName %></h1>
</div>


<div class="budgetHead">


  <form class="" action="/budgets" method="post">
    <div class="form-row">

      <div class="form-group col-sm-5">
        <input type="text" class="text-new-account" name="budgetName" placeholder="Create a new account">
      </div>
      <div class="form-group col-xs-1">
        <button type="submit" name="button" class="btn-add" title="Create Account"><i class="fas fa-plus"></i></button>
      </div>
      <div class="form-group col-xs-1 ml-auto">
        <div class="btn-logout">
          <a class="" href="/logout" role="button">Logout</a>
        </div>
      </div>

    </div>



  </form>

<div class="align-self-center" id="budgetsDiv">

  <% userBudgets.forEach(budget => { %>
  <div class="budget card">
    <div class="card-body">
      <h2><%= budget.name %></h2>
      <h6>Description: <%= budget.description %></h6>
      <p>Total: $<%= budget.total.toFixed(2) %></p>

          <a href="/budgets/<%= budget.id %>" class="btn-view" title="View Transactions"><i class="fas fa-info-circle"></i></a>

          <!-- Button trigger modal -->
          <a class="btn-edit" title="Edit Info" data-toggle="modal" data-target="#updateBudget-<%= budget.id %>">
            <i class="fas fa-edit"></i>
          </a>

          <!-- Modal -->

          <div class="modal fade" id="updateBudget-<%= budget.id %>" tabindex="-1" role="dialog" aria-labelledby="updateBudgetLabel-<%= budget.id %>" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateBudgetLabel-<%= budget.id %>">Edit Transaction</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form" action="/update/<%= budget.id %>" method="post">
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" class="text-new-account" name="budgetName" value="<%= budget.name %>">
                      <label>Description</label>
                      <input type="text" class="text-new-account" name="budgetDesc" value="<%= budget.description %>">

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success">Update</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>

          <a href="/delete/<%= budget.id %>" class="btn-remove" title="Remove Account">
            <i class="fas fa-trash"></i>
          </a>

    </div>

  </div>
  <% }); %>


</div>

</div>



<%- include('partials/footer') %>
